@charset "UTF-8";
div.inline{
  height:40px;
  width:40px;
  font-size:30px;
  border:2px solid;
  position:relative;
  text-align:center;
  float:left;
  background-color:#40C4FF;
  left:40%;
  top:80px;
}
.clearBoth { clear:both; }
h1{
  text-align:center;
  position:relative;
}
#key{
  margin-top:10px;
  background-color:#424242;
  color:white;
  margin-right:220px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position:relative;
  font-size: 20px;
  float:right;
}
#display-area { font-size: 20pt;
  left:140px; 
  position:relative;
}


